@import "assets/styles/Responsive";
@import "App.scss";

.scrollToTopBtn{
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 101;

    width: 60px;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    @include sm{
        width: 40px;
    }
    
    & svg{
        fill: $primary-color;
    }
}

.block{
    display: block;
}

.none{
    display: none;
}