@import "assets/styles/Responsive";
@import "App.scss";

.result__container{
    width: 50%;
    margin: 30px auto;

    @include md{
        width: 65%;
    }

    @include xs{
        width: 90%;
        overflow-y: hidden;
    }

    .result{
        width: 100%;
        &__header{
            padding: 0.8rem;
            background-color: $primary-color;

            & p{
                @include fontStyle(1rem, white);
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                margin: 0;
            }
        }

        &__body{
            background: rgba(238, 238, 238, 0.88);
            
            & > ul{
                display: block;
                width: 100%;
                height: 450px;
                list-style: none;
                padding: 20px 40px;
                margin: 0;

                @include xs{
                    padding: 5px 10px;
                }

                & > li{
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                }
            }

           & .result__body--content{
               margin: 5px 0;
               


               & .content__icon{
                   background-color: $primary-color;
                   color: white;
                   width: 40px;
                   height: 40px;

                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border-radius: 50%;

                   & svg{
                    fill: white;
                    width: 20px;                    
                   }
               }

               & .content__text{
                   margin-left: 20px;  
                   
                   @include xs{
                       margin-left: 10px
                   }

                   & p{
                       @include fontStyle(0.9rem, black);
                       margin: 0;
                       font-weight: 600;

                       & span{
                           @include fontStyle(0.9rem, black);
                           margin-left: 5px;

                           @include xs{
                               margin-left: 5px;
                           }
                       }

                       & .chair{
                           background: $primary-color;
                           border-radius: 50%;
                           padding: 5px;
                           color: white;
                           font-size: 0.8rem;
                       }
                   }
               }
           }
        }

        &__footer{
            display: flex;
            justify-content: space-evenly;
            background-color: $primary-color;
            padding: 0.5rem;

            & button{
                @include fontStyle(0.8rem, $primary-color);
                font-weight: 600;
                padding: 8px 10px;
                background-color: white;
                box-shadow: 0 0 5px white;
                text-transform: none
                
            }

            & .link{
                @extend button;
                text-decoration: none;
            }
        }
    }
}