@import "assets/styles/_Responsive.scss";
@import "App.scss";
// $mobile-breakpoint: 576px;
// $tablet-breakpoint: 768px;
// $laptop-breakpoint: 992px;
// $laptopLg-breakpoint: 1024px;

// @mixin xs {
//     @media (max-width:#{$mobile-breakpoint - 1px}) {
//         @content
//     }
// };

// @mixin sm {
//     @media (max-width:#{$tablet-breakpoint - 1px}) {
//         @content
//     }
// };

// @mixin md {
//     @media (max-width:#{$laptop-breakpoint - 1px}) {
//         @content
//     }
// };

// @mixin lg {
//     @media (max-width:#{$laptopLg-breakpoint - 1px}) {
//         @content
//     }
// };

.footer{
    background-color: #222;
    color: #949494;
    padding: 20px 0;
    box-sizing: border-box;


    &__container{
        max-width: 900px;
        padding: 0;
    }

    &__top{
        @include md{
            flex-wrap: nowrap;
            text-align: center;
        }

        @include sm{
            flex-wrap: wrap;
            text-align: center;
        }

    }

    &__title--content{
        text-transform: uppercase;
        color: #fff;
        font-size: 90%;
        padding-bottom: 10px;

        @include md{
            display: none;
        }
    }

    &__title{
        padding-left: 0;

        @include md{
          display: inline;
          flex-basis: 1;
        }

        & > a{
            display: block;
            color: #949494;
            transition: all 0.2s;

            @include md{
                display: inline;
                padding-left: 14px;
            }


            text-decoration: none;
            font-size: 0.8rem;
            line-height: 2rem;
            font-weight: 400;
        }

        & > a:hover{
            color: #fff;
            transition: all 0.2s;
        }
    }

    &__partner{
        margin-top: 0;
        padding:auto 0;

        @include md{
            display: none;
        }

        & > a{
            text-decoration: none;
            color: #000;
            transition: all 0.2s;
        }

        &--icon{
            border-radius: 50%;
            height: 30px;
            width: 30px;
            margin-right: 15px;
        }

        &--listIcon{
            margin-bottom: 0.8rem;
        }
    }

    &__androidIosIcon{
        @include md{
            display: none;
        }
    }

    &__socialApp{
        text-align: center;

        & > a{
            text-decoration: none;
            color: black;
            transition: all .2s;
        }

        &--icon{
            height: 30px;
            width: auto;
            margin: 8px;
        }
    }

    &__img{
        text-align: center;

        & > .zionIcon{
            border-radius: 8px;
            width: 80px;
            height: auto;
        }

        & > a > .bocoIcon{
            width: 130px;
            float: right;
            @include sm {
                float: none;
            }
        }
    }

    &__info{
        padding: 0 30px;
        font-size: medium;
        @include md {
            text-align: center;
        }
    }

    &__info span:first-child{
        color: #fff;
    }

    &__info span{
        color: #949494;
        line-height: 1.5rem;
        font-size: 0.8rem;
        font-weight: 400;
    }

    &__info a{
        cursor: pointer;
        text-decoration: none;
        transition: all .2s;
        padding-left: 5px;
    }

    
}

.hrFooter{
    border-top: 1px solid #4a4a4a;
}


