@import "assets/styles/_Responsive";
@import "App.scss";

@mixin fontStyle($font-size, $color) {
    font-size: $font-size;
    color: $color;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: normal;
}

.ChangePassword{
    display: flex;
    padding: 0 0 0 10px;   
    width: 100%;
    margin-top: 4%;

    @include lg{
        width: 100%;
        margin-left: auto;
        margin-top: 4%;
    }

    @include md{
        margin-top: 6%;
    }

    @include sm{
        padding-top: 5%;
    }

    @include xs{
        width: 100%;
        padding-top: 20%;
    }

    & .ChangePassword--container{    
        min-width: 100%;
        border-radius: 5px;
        box-shadow: 2px 3px 15px rgba($color: #000000, $alpha: 0.2);

        @include xs{
            width: 100%;
        }

        & .ChangePassword--title{
            
            padding: 10px 15px;
            border-bottom: 1px solid rgba(#BCBABE, 0.3);

            & p{
                @include fontStyle(1.3rem, black );
                margin: 0;
            }
        }

        & .ChangePassword--row{
            display: flex;
            align-items: center;
            max-width: 100%;

            & .ChangePassword--content{
                width: 50%;
                padding: 0 10px;

                @include xs{
                  width: 100%;
                }
               
                & ul{
                    max-width: 100%;
                    height: 250px;
                    list-style: none;
                    padding: 20px 10px;

                    & .content__item{
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    & .MuiFormControl-root{
                        width: 100%;

                        & .MuiFormLabel-root{
                            font-size: 0.8rem !important;
                        }
                    }

                    & .errorMeg{
                        color: $primary-color;
                        font-size: 0.9ewm;
                        margin: 0;
                        padding: 0 10px;
                        width: 90%;
                    }

                    & .form-control{
                        padding: 5px 10px;
                        border: 1px solid rgba($color: #000000, $alpha: 0.3);
                        border-radius: 4px;
                    }
                }

                & .changebtn{
                    padding: 20px 10px;
                    width: 100%;
    
                    & button{
                        font-weight: 600;
                        margin: 0;
                        width: 100%;
                        color: white;
                        background: $primary-color;
                        border: 1px solid $primary-color;
                        transition: 0.3s all;

                        &:hover{
                            opacity: 0.8;
                            transition: 0.3s all;
                        }
                    }

                    & .Mui-disabled{
                        background: rgba($color: #000000, $alpha: 0.6);
                        border: 1px solid rgba($color: #000000, $alpha: 0.6);
                    }
                }
            }

            & .ChangePassword--warning{
                width: 50%;
                margin: auto;

                @include xs{
                    display: none;
                }

                & ul{
                    margin-left: 20px;

                    & li{
                        color: $primary-color;
                    }
                }

                & .warning__text{
                    padding: 10px;
                    
                    & p{
                        @include fontStyle(0.9rem, $primary-color);
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}